body {margin-left: 10%; margin-right: 10%;}

hr {width: 80%; margin-top: 1em; margin-bottom: 1em;}
hr.spacer {margin-top: 3em; margin-bottom: 3em;}
hr.mid {width: 50%;}
hr.tiny {width: 20%;}

sup {font-size: 75%; line-height: 50%;}

div.intro, div.maintext, div.titlepage, div.advert {margin-top: 3em; margin-bottom: 3em;}
div.frame {padding: 1em; border: 3px ridge #666; margin: 1em 0em;}
/* div.maintext {margin: 3em 2em;} */

h1, h2, h3, h4, h5, h6 {text-align: center; font-style: normal;
font-weight: normal; line-height: 1.5; margin-top: .5em; margin-bottom: .5em;}

h1 {font-size: 250%;}
h2 {font-size: 200%;}
h3 {font-size: 150%;}
h4 {font-size: 120%;}
h4.chapter {margin-top: 4em;}
h4.section {margin-top: 2em;}
h5 {font-size: 100%;}
h6 {font-size: 85%;}

p {margin-top: .5em; margin-bottom: 0em; line-height: 1.2;}
p.synopsis {font-size: 95%; margin-left: 1em; text-indent: -1em;}
p.explanation {font-size: 95%; margin-left: 1em; margin-right: 1em;}
p.inset {padding-left: 2em;}
p.smaller {font-size: 80%;}

p.illustration {text-align: center; margin-top: 1em; margin-bottom: 1em;}

/* footnotes & tags */

div.footnote {margin: 1em 0em 1em 2em;}
p.footnote {margin: 1em 0em 1em 2em; font-size: 95%; line-height: 1.1em;}
div.footnote p {font-size: 95%; margin-top: .5em; line-height: 1.1em;}

a.tag {text-decoration: none; vertical-align: .3em; font-size: 80%;
line-height: 0em;}

div.footnote div.poem p, div.footnote p.poem {font-size: 92%; margin-left: 4em; text-indent: -2em;}
div.poem p + p {margin-top: 0em;}


/* tables */

table {margin-left: auto; margin-right: auto; margin-top: 1em;
margin-bottom: 1em;}
table.titlepage {border-spacing: .5em;}

td {vertical-align: top; text-align: left; padding: .1em 1em .1em 0em;}

td.borderline {padding: 1em; border: 2px ridge #999;}
td.titlepage {text-align: center; padding: .5em;}
td.padded {padding-left: 25%;}

table.toc td {padding-right: 1em;}

/* conditional */
table.toc p, table.ads p {margin-top: 0em;
margin-left: 1em; text-indent: -1em; line-height: 1.2;}

table.toc p {font-family: sans-serif; font-size: 95%;}
table.toc a {text-decoration: none;}


/* text formatting */

.smallcaps {font-variant: small-caps;}
.extended {letter-spacing: 0.2em;}
.sans {font-family: sans-serif;}
.boldf {font-weight: bold;}

/* greek original or translit */

.greek {border-bottom: 1px dotted #666;}

/* my additions */

/* correction popup */

ins.correction {text-decoration: none; border-bottom: thin dotted red;}
ins.corr {text-decoration: none; border-bottom: thin red;}
ins.corr.both {border-bottom: thin solid red;}
ins.corr.bell {border-bottom: thin dotted red;}
ins.corr.mckay {border-bottom: thin dashed red;}

/* page number */

.pagenum, .linenum {position: absolute; font-weight: normal;
font-style: normal; text-indent: 0em; color: #333;
background-color: inherit; width: 9%;}
.pagenum {font-size: 88%;}
p.explanation span.pagenum {font-size: 92%;}

.linenum {padding-top: 1.2em; font-size: 75%;}
p.explanation span.linenum {font-size: 80%;}

.pagenum.mckay, .linenum.mckay {right: .5em; text-align: right;}
.pagenum.bell, .linenum.bell {left: .5em;}
.linenum.mckay:before {content: "[";}
.linenum.bell:after {content: "]";}

/* Transcriber's Note */

div.mynote {margin: 1em 5%; background-color: #DDE; color: #000;
padding: .5em 1em 1em;}
div.mynote.plain {margin: 1em; background-color: #F0F0FF; color: #000;
border: 3px ridge #99C;}

p.mynote {margin: 1em 5%; background-color: #DDE; color: #000;
padding: 1em; font-family: sans-serif; font-size: 90%;}
div.mynote p, div.mynote h5, div.mynote td {font-family: sans-serif; font-size: 90%;}

div.mynote.plain h5 {font-weight: bold;}
div.mynote p + h5 {margin-top: 1em;}

div.mynote a, div.contents a {text-decoration: none;}

div.contents p {font-family: sans-serif; font-size: 90%;
margin-left: 1.5em; text-indent: -1.5em; line-height: 1.33em;}

